.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  sahani */
body {
  background-color: #f9f9fa
}

.padding {
  padding: 3rem !important
}



.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px
}



.bg-c-lite-green {
  background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
  background: linear-gradient(to right, #ee5a6f, #f29263)
}


.card-block {
  padding: 1.25rem
}


.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
  margin-bottom: 20px
}

.m-b-10 {
  margin-bottom: 10px
}
/*charya*/
.reservationManagement{
   
  background: url('./assets/bus5.jpg') no-repeat center/cover;
   height: 720px ;
   }
.overlay{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 400px;
   color: black;
  justify-content: center;
   
}
.b1{
  width: 300px;
   border-radius: 10px;
   border:2px solid blue;
   letter-spacing: 2px;
   padding: 8px;
   background-color: blue;
   color: white;
   font-weight: 700;
   margin: 50px 550px;
   transition: background-color 0.4s;

}
.b1:hover{
   cursor: pointer;
   background-color: transparent;
}

.reserve{
   background: url('./assets/bus2.jpg') no-repeat center/cover;
   height: 1000px ;
}
.book{
   background: url('./assets/bus4.jpg') no-repeat center/cover;
   height: 250px ;
   
 
  
}


/* IT20207236 */

.time {
  font-family: "Source Code Pro";
   background: transparent;
   position: relative;
   bottom: 250px;
   left: 150px;
   cursor: pointer;
   width: 250px;
   height: 120px;
   outline: none;
   border: 1px solid #ca6695;
   font-size: 30px;
   color:rgb(33, 150, 150);
 }

 .time:hover {
  transition: 1s ease-in-out;
  transform: rotate(-15deg);
  stroke-dashoffset: -480;
  color:rgb(150, 95, 33);
  

}


.booknow {
  font-family: "Source Code Pro";
   background: transparent;
   position: relative;
   bottom: 250px;
   left: 350px;
   cursor: pointer;
   width: 250px;
   height: 120px;
   outline: none;
   border: 1px solid #ca6695;
   font-size: 30px;
   color:rgb(33, 150, 150);
 }

 .booknow:hover {
  transition: 1s ease-in-out;
  transform: rotate(15deg);
  stroke-dashoffset: -480;
  color:rgb(150, 95, 33);
  

}


.contactnow {
  font-family: "Source Code Pro";
   background: transparent;
   position: relative;
   bottom: 250px;
   left: 550px;
   cursor: pointer;
   width: 250px;
   height: 120px;
   outline: none;
   border: 1px solid #ca6695;
   font-size: 30px;
   color:rgb(33, 150, 150);
 }